<div class="pages container">
    <h1 class = "title1">ALL SELECTIONS</h1>
  <div class="pages container">
    <% @selection.each do|selection| %>
      <div class="card text-center">
        <div class="card-header">
          <%= selection.user.username %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to selection.title, selection_path(selection) %></h5>
          <p class="card-text"><%= selection.reason%></p>
          <%= link_to 'View', selection_path(selection), class:"btn btn-primary" %>
          <% if current_user && !current_user.admin %>
            <%= link_to 'Change', edit_selection_path(selection), class:"btn btn-success" %>
            <%= link_to 'Remove', selection_path(selection), class:"btn btn-danger", method: :delete, data: {confirm: "This action is permanent. Do you still want to continue? "}  %>
          <%else %>
            <%= link_to 'Approve', '#', class:"btn btn-success" %>
          <%end %>
        </div>
        <div class="card-footer text-muted">
          Last edited at: <%= time_tag(selection.updated_at) %><br/>
          Created at: <%= time_tag(selection.created_at) %>
        </div>
      </div>

    <%end %>
    </div>
</div>
