<div class="container" id="pages-container">
    <div class="container" id="pages-container">
        <div class="card text-center">
          <div class="card-header">
            Zamzam Mohamed
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= @selection.title %></h5>
            <p class="card-text"><%= @selection.reason%></p>
            <%= link_to 'Change', edit_selection_path(@selection), class:"btn btn-success" %>
            <%= link_to 'Remove', selection_path(@selection), class:"btn btn-danger", method: :delete, data: {confirm: "This action is permanent. Do you still want to continue? "}  %>
          </div>
          <div class="card-footer text-muted">
            Last edited at: <%= time_tag(@selection.updated_at) %><br/>
            Created at: <%= time_tag(@selection.created_at) %>
          </div>
        </div>
    </div>

</div>