<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "MODULE SELECTION", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "Module Information", courses_path, class:"nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Selections
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if current_user.admin %>
            <%= link_to "All student selections", selections_path, class:"dropdown-item" %>
            <% else %>
          <%= link_to "Make a new module selection", new_selection_path, class:"dropdown-item" %>
          <%= link_to "Your selections", selections_path, class:"dropdown-item" %>
            <% end %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item active">
      <%= link_to 'Contact us', contact_path, class:"nav-link"%>
    </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" >
        <% if current_user %>
          <%= link_to '<button type="button" class="btn btn-light">Log out </button>'.html_safe, destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to '<button type="button" class="btn btn-primary">Log in </button>'.html_safe, new_user_session_path %>
          <%= link_to '<button type="button" class="btn btn-success">Sign up!</button>'.html_safe, new_user_registration_path %>
        <% end %>
      </li>
    </ul>

  </div>
</nav>