<!DOCTYPE html>
<html>
  <head>
    <title>Zm00277Com2025Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
  <%= render 'layouts/header' %>
  <%= render 'layouts/dialogue' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
